:local(.Shelf) {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  margin-top: 20px;
  position: relative;
}

:local(.Shelf__title) {
  border-bottom: 1px solid #dedede;
  font-size: 20px;
  font-weight: 800;
}

:local(.Shelf__grid) {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

:local(.Shelf__griditem) {
  padding: 10px 20px;
  text-align: left;
}
